.video-text-container {
  position: relative;
  width: 100%;
  height: 100vh;         
  overflow: hidden;
}


.video-text-container video {
  width: 100%;
  height: 100%;
  object-fit: cover;      
  display: block;
  z-index: 1;             
  position: relative;
}

.video-text-container .overlay-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;            
  text-align: center;
  color: white;
  width: 90%;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.7);
}

.video-text-container .overlay-text .social-links a {
  color: white;
  margin: 0 8px;
  font-size: 1.5rem;
  text-decoration: none;
  display: inline-block;
  z-index: 3;
}
