.caja-static{

    position: static;
    /*EXTRAS*/
    background-color: brown;
    margin: 20px;
    border: 1px solid ;
    padding: 2px;
    /*No hace caso a los mansod de movimiento */
    left: 50px;
    top: 50px;
}

.caja-relative{

    position: relative;
    background-color: aquamarine;
    margin: 20px;
    border: 1px solid;
    padding: 2px;

    left: 90%;
    top: 50px;
    /*bottom: 50px;
    right: 20px;*/
}

.padre{
    position: relative;
    background-color: bisque;
    width: 500px;
    height: 250px;
}
.caja-absolute{
    position: absolute;
    top: 50px;
    right: 120px;
    background-color: brown;

}

.caja-fixed{
    position: fixed;
    background-color:#d3e3fdff;
    bottom: 20px;
    right: 20px;
    font-size: 18px;
    padding: 10px;
    border-bottom: #d3e3fdff;
    color: #041e49ff;
   border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 1px 2px;
    font-weight: 400;
    min-width: 32px;
    padding-inline: 16px;
}
.caja-fixed:hover{
    background-color: rgb(60, 87, 129);
}
    
    
