<!-- Contact Section -->
    <section id="contact" class="contact section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <span class="subtitle">Contacto</span>
        <h2>Contacto</h2>
        <p>Estas listo para llevar tu vehiculo deportivo al siguiente nivel? Contactanos para cotizaciones, asesoramiento tecnico o agendar una visita al taller. Estamos aqui para hacer realidad tu proyecto de competencia</p>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-4">
            <div class="info-item">
              <div class="icon-wrapper">
                <i class="bi bi-geo-alt"></i>
              </div>
              <div>
                <h3>Ubicacion</h3>
                <p>Yaruqui-Quito</p>
              </div>
            </div>

            <div class="info-item">
              <div class="icon-wrapper">
                <i class="bi bi-telephone"></i>
              </div>
              <div>
                <h3>Llamanos</h3>
                <p>0994987126</p>
              </div>
            </div>

            <div class="info-item">
              <div class="icon-wrapper">
                <i class="bi bi-envelope"></i>
              </div>
              <div>
                <h3>Escribenos</h3>
                <p>edtoscano@espe.edu.ec</p>
              </div>
            </div>

          </div>

          <div class="col-lg-8">
            
              <form action="./public/vendor/Craftivo/Craftivo/forms/contact.php"  method="post" class="php-email-form">
              <div class="row gy-4">

                <div class="col-md-6">
                  <input type="text" name="name" class="form-control" placeholder="Tu Nombre" required="">
                </div>

                <div class="col-md-6">
                  <input type="email" class="form-control" name="email" placeholder="Tu Email" required="">
                </div>

                <div class="col-md-12">
                  <input type="text" class="form-control" name="subject" placeholder="Asunto" required="">
                </div>

                <div class="col-md-12">
                  <textarea class="form-control" name="message" rows="6" placeholder="Mensaje" required=""></textarea>
                </div>

                <div class="col-md-12 text-center">
                  <div class="loading">Cargando</div>
                  <div class="error-message"></div>
                  <div class="sent-message">Tu mensaje ha sido enviado. Gracias!</div>

                  <button type="submit">Enviar Mensaje</button>
                </div>

              </div>
            </form>
          </div>

        </div>

      </div>

    </section><!-- /Contact Section -->